<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set Struts 2 logging to DEBUG -->
    <logger name="org.apache.struts2" level="DEBUG"/>
    <logger name="com.opensymphony.xwork2" level="DEBUG"/>
    <logger name="com.example.action" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration> 